body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #5b5b5b;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.login-header {
  background-color: #fff;
  border: none;
}

.article-card {
  background-color: #eef9ff;
}

.article-image {
  width: 100%;
}

